<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="com.example.plugin"
        version="0.0.1">
    <name>Cordova Plugin</name>

    <engines>
        <engine name="cordova" version=">=3.4.0"/>
    </engines>

    <js-module src="www/MyCustomPlugin.js" name="MyCustomPlugin">
        <clobbers target="window.MyCustomPlugin"/>
    </js-module>
    <platform name="android">

        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="CustomPlugin">
                <param name="android-package" value="com.example.myplugin.CustomPlugin"/>
            </feature>
        </config-file>

        <source-file src="src/android/CustomPlugin.java" target-dir="src/com/example/myplugin"/>

        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.BLUETOOTH"/>
            <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
        </config-file>
    </platform>
</plugin>